#admission1_form {
    padding-right:50px;
}
#autofill-area .label-field-pair {
    margin:0 0 10px 95px;
}
#admission1_form_vertical_block_left {
    padding-bottom: 20px;
}
.label_field_pair {
    width:600px;
    height: 40px;
    padding-top: 3px;
}

.label_field_pair label.label_for_gender {
    font-weight:normal;
    display:inline;
}
#admission1_form_vertical_block_right {
    padding-bottom: 20px;
}
.label_field_pair1 {
    width:285px;
    float:right;
    padding-top:40px;
}
.label_field_pair label {
    padding-top: 10px;
    display:block;
    color:#444;
    margin-bottom:10px;
    font-size: 14px;
    font-weight: 600;
}
.label_for_student_gender{
    display:block;
    color:#444;
    margin-bottom:10px;
    width:200px;
    float:right;
}
.student_gender_value{
    width:300px;
    float:right;
    padding-top: 5px;
}
.label_field_pair label.label_for_gender {
    font-weight:normal;
    display:inline;
}

#name_field_block {
    clear:both;
    padding-bottom:20px;
}
#name_field_block .text-input-bg {
    background : #eee;
    float:right;
    border : 1px solid #c6c6c6;
    margin : 5px 10px 0 0;
    width : 180px;
    height:23px;
    -moz-border-radius:10px;
    -webkit-border-radius:10px;
    padding-top: 3px;
}
#name_field_block label {
    font-weight:bold;
    display:block;
    margin-bottom:10px;
}
#name_field_block input {
    background:transparent;
    border:0;
    color:#000;
    padding-right:10px;
    width:165px;
}
.label_field_pair input[type="text"] {
    width:210px;height:28px;
    background:transparent;
    border:none;
    padding-right:10px;
    padding-top:5px;
}
.label_field_pair select {
    background : #eee;
    border: none;
    height: auto;
    margin: 5px 5px 0 0;
    width: 220px;
}
.label_field_pair .label_for_gender {
    margin:0;
    display:block;
    padding-top:5px;
    padding-left:10px;
    padding-right:10px;
}
#student_gender_true,
#student_gender_false {
    margin:0;
    padding:0;
    width:20px;
    display:inline;
    margin-bottom:10px;
    display:block;
    float:right;
}
#create_user {
    display:inline;
}
#address_text_area {
    width:232px;
    height:162px;
    background:#fff url(../../../images/admission/address_area_bg.jpg) no-repeat;
    margin-bottom:40px;
}
#student_address,
#parent_detail_office_address {
    padding-right:10px;
    padding-top:5px;
    width:222px;
    height:162px;
    border:none;
    background:transparent;
    color:#0f144e;
    font-weight:bold;
}
#create_user_option {
    display:inline;
    margin:0px;
    padding:0px;
}
.submit_button {
    margin-top:30px;
    margin-right:270px;
    padding: 7px 10px;
    color: #fff;
    background: #27292B;
    -moz-border-radius:10px;
    -webkit-border-radius:10px;
    font-weight: bold;
    font-size: 14px;
    border:none;
    font-family: arial;
    cursor:pointer;
}
.submit_button:hover{
    background:  #373B3F;
}
.submit_button3 {
    margin-top:30px;
    margin-right:50px;
    float:right;
}
.text_display {
    width:230px;
    height:28px;
    background:#fff url(../../../images/admission/text_input.jpg) no-repeat;
    margin-bottom:20px;
    color:#0f144e;
    font-weight:bold;
    padding-right:10px;
    padding-top:3px;
}
.necessary-field {
    color : #f00;
    font-size : 1.1em;
}
#necessary-field-notification {
    font-weight : bold;
    padding : 10px 0 30px 0;
}

#create_user{
    display:none;
}
.student_admission_date {
    float:right;
    height:80px;
    width:450px;
}
.student_admission_date label {
    color:#444444;
    display:block;
    float:right;
    margin:0 0 10px;
    padding-top: 10px;
    font-weight: 600;
    font-size: 14px;
}
.text-input-bg-admission input  {
    -moz-border-radius:10px 10px 10px 10px;
    -webkit-border-radius:10px;
    background:none repeat scroll 0 0 #EEEEEE;
    border:1px solid #C6C6C6;
    height:17px;
    margin:5px 10px 0 0;
    padding:5px;
    width:205px;
    text-align: right;
}
input#student_image_file {
    height:24px;
}
.sub-heading{
    background:#9E0F15;
    height: 1px;
    border: none;
    margin-bottom: 15px;
}
.span-sub-heading{
    font-weight: bold;
    padding-top:10px;
}
.label-underline{
    background:  #eeeeee;
    height: 1px;
    border: none;
}
.text-input-bg-admission input:focus{
    background: #fff;
    border: 1px solid #9e0f15;
}

input#student_photo{
    height: 28px;
}