
#student-details {
    background-color:#FFF1AB;
    border:1px solid #EFDF95;
    clear:both;
    height:20px;
    margin:0 0 40px;
    padding:5px 100px 0 0;


}
#student-details h3 {
    display : inline;
    float : right;
    font-size:14px;
    margin : 0 0 20px 0;
     padding-left: 10px;
     min-width:200px;
}
#student-details h4 {
    display : inline;
    float : right;
    margin : 0 0 10px 0;
    font-size:14px;
  padding-left: 10px;
      min-width:200px;
}
.link-box {
    margin: 40px 100px 40px 40px;
    width: 300px;
    float:right;
    height:80px;
}
.link-heading a {
    font-weight:bold;
    color:#0f144e;
}
.link-descr {
    margin-top:5px;
    color:#666;
    text-align:justify;
}


.errorExplanation {
    background: url("/images/_global/error.png") no-repeat scroll 10px 14px #FFDEDF;
    border-radius: 10px 10px 10px 10px;
    height: auto;
    margin: 20px auto;
    padding: 15px 49px 20px 0;
    width: 510px;
}