
.news_search_add {
    float:right;
    margin-right:45px
}
.news_search_add a {
    display:block;
    height:175px;
    width:175px;
}
.news_search_add img {
    margin-top:15px;
}

#news_bg input {
    background : #eee;
    float:right;
    border : 1px solid #c6c6c6;
    margin : 8px 10px 0 0;
    width : 180px;
    height:22px;
    -moz-border-radius:10px;
    -webkit-border-radius:10px;
    padding: 4px 5px 0 0;
}
#news_bg h2 {
    color:#555;
    font-size:16px;
    width:135px;
    padding:10px 0 0 0;
    margin:0;
    float:right;
}
#news_result {
    margin:0px;
    padding:0px;
    height:300px;
    width:960px;
    margin:20px auto;
}
#news_no_result {
    font-weight:bold;
    color:#0f144e;
}
#news_search_result {
    padding:20px 0 10px 20px;
    text-decoration:none;
    width:300px;
    float:right;
    background:#fff url(../../../images/student_details/ajax_result_underline.jpg) bottom right no-repeat;
    
}
#news_search_result a {
    text-decoration:none;
    color:#000;
    font-weight:bold;
}
#news_search_result a:hover {
    text-decoration:underline;
    color:#d00;
    font-weight:bold;
}
#go {
    float:right;
    margin:0;
    padding:0;
    margin-top:2px;
   
}
#go input {
    height:28px;
    width:auto;
    padding:5px 10px;
    background: #313236;
    color:#fff;
    font-weight: bold;
    border:none;
    cursor:pointer;
}
#go input:hover{
    background: #53555F;
}
#news_bg input:focus{
    border: 1px solid #9E0F15;
    background: none;
}
#go input:focus{
    background: #313236;
    color:#fff;
    font-weight: bold;
    border:none;
}
#news_show_flash {
    padding:10px 20px 10px 0;
    background-color:#ddd;
    color:#787777;
}
