#category-list{
    margin:40px auto;
width:400px;
}

.link-heading a {
    font-weight:bold;
    color:#0f144e;
}
.link-descr {
    margin-top:5px;
    color:#666;
    text-align:justify;
}


.containereven{
    background : #EEF2FD;
    border-bottom:1px solid #BECFFB;
    color : #444;
    height : 1.5em;
    list-style-type : none;
    padding : 0.5em 10px 0 0;

    width:400px;
}
.containereven a{
    color:black;
}

.containerodd{
    background : #DFEAFF;
    border-bottom:1px solid #BECFFB;
    color : #444;
    height : 1.5em;
    list-style-type : none;
    padding : 0.5em 10px 0 0;

    width:400px;
}
.containerodd a{
    color:black;
}

.title{
    /*border-bottom:1px solid #bccffb;*/
    float:right;
    width:246px;
    /*background-color:#e4ebfe;*/
    /*padding:10px 0 10px 0;*/
    font-weight:bold;
    font-size: 14px;
    height:20px;
}

.title a{
    text-decoration:none;
    /*color:black;*/
}

.edit{
    float:right;
    font-weight: bold;

}
.edit a{
    text-decoration: none;
      /* color: black;*/
   font-size:11px;
   padding-left: 8px;
}
.box{
    width:750px;
    margin:0px auto;
}
.submit_button {
    margin-top:15px;
    margin-right:210px;
    padding: 7px 10px;
    color: #fff;
    background: #27292B;
    -moz-border-radius:10px;
    -webkit-border-radius:10px;
    font-weight: bold;
    font-size: 14px;
    border:none;
    font-family: arial;
    cursor:pointer;
}
.submit_button:hover{
    background:  #373B3F;
}
.options{
    width:auto;
    float:left;
}


