.edit a{
    display:block;
}

#employee_profile_heading {
    width:800px;
    margin:0px auto;
}
#employee_main_info {
    float:right;
    margin-right:50px;
    width:400px;
}
#employee_main_info h3 {
    margin:0;
    padding:0;
    margin-top:20px;
}
#employee_main_info h4 {
    margin:0;
    padding:0;
    color:#0f144e;
    margin-top:10px;
}
#employee_main_info h6 {
    margin:0;
    padding:0;
    color:#0f144e;
    margin-top:5px;
}
#employee_main_info h5 {
    background-color:#eee;
}


.profile_info_label1{
    padding-top:15px;
    height:25px;
    width:120px;
    text-align:left;
    padding-left:20px;
    float:right;
    font-weight:bold;
    color:#548ab2;
}

.profile_info_label_top {
    padding-top:15px;
    padding-bottom:5px;
    height:25px;
    width:150px;
    text-align:left;
    padding-left:20px;
    float:right;
    font-weight:bold;
    color:#548ab2;
    background: #eff3fe;
    border-top:1px solid #bdcfff;
    margin-left:5px;
}
.profile_info_label_top2 {
    padding-top:15px;
    padding-bottom:5px;
    height:25px;
    width:150px;
    text-align:left;
    padding-left:20px;
    float:right;
    font-weight:bold;
    color:#548ab2;
    background: #dae6ff;
    border-top:1px solid #bdcfff;
    margin-left:5px;
}
.profile_info_text_top {
    padding-top:15px;
    padding-bottom:5px;
    padding-right:20px;
    height:25px;
    width:500px;
    float:right;
    font-weight:bold;
    color:#000;
    background: #eff3fe;
    border-top:1px solid #bdcfff;
}
.profile_info_text_top2 {
    padding-top:15px;
    padding-bottom:5px;
    padding-right:20px;
    min-height:25px;
    width:500px;
    float:right;
    font-weight:bold;
    color:#000;
    background: #dae6ff;
    border-top:1px solid #bdcfff;
}
.profile_info_text{
    padding-top:15px;
    padding-right:20px;
    height:25px;
    width:500px;
    float:right;
    font-weight:bold;
    color:#000;
}

.profile_info_text a{
    color:black;
    font-weight:normal;
    float:left;
}

#profile_picture_display {
    float:right;
    width:125px;
    height:125px;
    margin-right:50px;
    border:8px solid #EFEFD1;
}
#profile_picture_display img {
    width:125px;
    height:125px;
    /*padding-top:25px;
    padding-left:32px;*/
}



.item-list {
    clear : both;
    padding : 10px 130px 0 0;
    margin:0px;
}

.item-list li.heading1 {
    background : #BECFFB;
    border-bottom:1px solid #BECFFB;
    font-weight : bold;
    height : 1.5em;
    width : 35em;
    list-style-type : none;
    padding : 0.5em 0em 0 0;
 }

.item-list .listeven{
    background : #EEF2FD;
    border-bottom:1px solid #BECFFB;
    color : #444;
    height : 1.5em; width : 30em;
    list-style-type : none;
    padding : 0.5em 5em 0 0;
}

.item-list .listodd{
    background : #DFEAFF;
    border-bottom:1px solid #BECFFB;
    color : #444;
    height : 1.5em; width : 30em;
    list-style-type : none;
    padding : 0.5em 5em 0 0;
  }

.item-list li.heading {
    background : none;
    font-weight : bold;
    list-style-type : none;
    color : #444;
    height : 1.5em; width : 30em;
    padding : 0.5em 0em 0 0;
}
.item-list li div {
    float : right;
}
.item-list li div.item-name {
    width : 350px;
}
.item-list li div.item-edit,
.item-list li div.item-delete {
    font-size : 0.9em;
    width : 100px;
    text-align:left;
}
.item-list li div a {
    color : #000;
}

.edit-delete-link{
    -moz-border-radius:10px;
    -webkit-border-radius:10px;
    background:#27292B none repeat scroll 0 0;
    color:#FFFFFF;
    font-family:arial;
    font-size:14px;
    font-weight:bold;
    margin:0px auto;
    margin-top:30px;
    padding:7px 10px;
    border:none;
    text-align:center;
    width:auto;
    cursor:pointer;
}

.edit-delete-link a{
    color:#fff;
    text-decoration: none;
}
.edit-delete-link:hover{
    background:  #373B3F;
}

#attendance-report{
    width:705px;
    margin-right:50px;
}

.type_nameodd{
    width:680px;
    background : #EFF3FE;
    border-top:1px solid #BDCFFF;
    font-weight:bold;
    padding-right:25px;
    height:28px;
    padding-top:12px;
}
.type_nameeven{
    width:680px;
    background : #DAE6FF;
    border-top:1px solid #BDCFFF;
    font-weight:bold;
    padding-right:25px;
    height:28px;
    padding-top:12px;
}

.date-odd{
    width:505px;
    background : #EFF3FE;
    border-top:1px solid #BDCFFF;
    padding-right:200px;
    height:28px;
    padding-top:12px;
}
.date-even{
    width:505px;
    background : #DAE6FF;
    border-top:1px solid #BDCFFF;
    padding-right:200px;
    height:28px;
    padding-top:12px;
}

#profile-general-info {
    height : 1.5em;
    margin : 0;
    padding : 0;
}
#profile-general-info ul {
    margin : 0 40px 0 10px;
    padding : 0;
}
#profile-general-info ul li {
    background-color : #0f144e;
    color : #fff;
    float : right;
    font-size : 12px;
    height : 19px;
    list-style-type : none;
    margin : 0 10px 10px 0;
    padding : 4px 0 0 0;
    text-align : center;
    width : 100px;
}



#profile-general-info ul li a {
    color : #fff;
    text-decoration : none;
}

#profile-general-info ul li a:hover{
    text-decoration:underline;
}


/* droplicous v1.1 */

#nav ul {
    float:left;
    margin:0 0 0 10px;
    padding:0;
}
#nav ul.scriptaculously{
    text-align:right;
    width:100px;
    font-size:.8em;
    background:#0f144e;
    -webkit-border-bottom-right-radius:5px;
    -webkit-border-bottom-left-radius:5px;
    -khtml-border-radius-bottomleft:5px;
    -khtml-border-radius-bottomright:5px;
    -moz-border-radius-bottomleft:5px;
    -moz-border-radius-bottomright:5px;
    -webkit-border-radius:5px;
    margin:0;
    padding:0;
    position:absolute;
    right:0px;
    top:28px;
    opacity:.97;
    filter:alpha(opacity=97);
}
html>body #nav ul.scriptaculously{/*ie shit*/
                                  position:absolute;
                                  top:17px;
}
#nav ul.scriptaculously a:hover{
    position:relative;
    color:#ffffff;
    background:none;
    text-decoration:underline;
}
#nav ul.scriptaculously a{
    position:relative;
    z-index:999;
    font-weight:normal;
    margin:0;
    padding:5px 0px 5px 0;
    background:none;
    color:white;
    display:block;
    -webkit-border-top-right-radius:0;
    -webkit-border-top-left-radius:0;
    -khtml-border-radius-topleft:0;
    -khtml-border-radius-topright:0;
    -moz-border-radius-topleft:0;
    -moz-border-radius-topright:0;
}
#nav li a:hover{
    text-decoration:underline;
}
#nav li a{
    font-weight:normal;
    text-decoration:none;
    color:white;
    width:100px;
    height:1.5em;
    display:block;
    /*padding:10px 10px 0 10px;*/
    background:#0f144e;
    /*	-webkit-border-top-left-radius:5px;
	-webkit-border-top-right-radius:5px;
	-khtml-border-radius-topleft:5px;
	-khtml-border-radius-topright:5px;
	-moz-border-radius-topleft:5px;
	-moz-border-radius-topright:5px; */
}
#nav{
    position:relative;
    width:980px;
    height:1.5em;
    text-align:center;
    list-style:none;
    margin:0 0 0 0;
    padding:0;
    list-style:none;
    font-size:0.9em;
}
#nav ul li{
    position:relative;
    /*display:inline;
	margin:0;
	padding:0;*/
    background-color : #0f144e;
    color : #fff;
    float : right;
    font-size : 0.9em;
    height : 1.5em;
    list-style-type : none;
    margin : 0 10px 0 0;
    padding : 0;
    text-align : center;
    width : 100px;
}

#nav ul li ul li{
    background-color:#0f144e;
    font-size:1.3em;
    width:60px;
    height:1.5em;
    padding-bottom:5px;
    text-align:center;
    margin:0;

}

.currency-type{
    float:right;
    margin-right:20px;
}

.attendance-stats{
    margin-top:30px;
    width:705px;
}

.pdf-link{
    -moz-border-radius:10px;
    -webkit-border-radius:10px;
    background:#27292B none repeat scroll 0 0;
    color:#FFFFFF;
    font-family:arial;
    font-size:14px;
    font-weight:bold;
    margin:0px auto;
    margin-top:30px;
    padding:7px 10px;
    border:none;
    text-align:center;
    width:auto;
    cursor:pointer;
}

.pdf-link a{
    color:#fff;
    text-decoration: none;
}
.pdf-link:hover{
    background:  #373B3F;
}
.edit{
    -moz-border-radius:10px;
    -webkit-border-radius:10px;
    background:#27292B none repeat scroll 0 0;
    color:#FFFFFF;
    font-family:arial;
    font-size:14px;
    font-weight:bold;
    margin:0px;
    margin-top:30px;
    padding:7px 10px;
    border:none;
    text-align:center;
    width:auto;
    cursor:pointer;
    float:right;
    margin-left:20px;
}
.edit a{
    color:#fff;
    text-decoration: none;
}
.edit:hover{
    background:  #373B3F;
}
.profile_top_banner{
    position:absolute;
    float:left;
    padding-right:528px;
    margin-top:-10px;

}
#profile-infos {
    margin:30px auto;
    width:697px;

}
.extender{
    clear:both;
}
.pdf{
    -moz-border-radius:10px;
    -webkit-border-radius:10px;
    background:#27292B none repeat scroll 0 0;
    color:#FFFFFF;
    font-family:arial;
    font-size:14px;
    font-weight:bold;
    margin:0px;
    margin-top:30px;
    padding:7px 10px;
    border:none;
    text-align:center;
    width:auto;
    cursor:pointer;
    float:right;
}
.pdf a{
    color:#fff;
    text-decoration: none;
}
.pdf:hover{
    background:  #373B3F;
}
.edit-pdf-group{
    width:270px;
    margin:0 auto;
}
.profile{
   -moz-transform: rotate(-37deg);  /* FF3.5+ */
    -o-transform: rotate(-37deg);  /* Opera 10.5 */
    -webkit-transform: rotate(-37deg);  /* Saf3.1+, Chrome */
    -ms-transform: rotate(-37deg);  /* IE9 */
    transform: rotate(-37deg);
    background: transparent/9;
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#00FFFFFF,endColorstr=#00FFFFFF)"; /* IE8 $ IE9*/
    zoom: 1;
    color: #FFFFFF;
    font-size: 21px;
    position: absolute;
    font-weight: 200;
    /*padding-left: 95px;
    padding-top: 11px;*/
    width: 128px;
    padding-top: 27px;
    text-align: center;
    height: 250px;
}
