<%-# Fedena
#Copyright 2010 Foradian Technologies Private Limited
#
#This product includes software developed at
#Project Fedena - http://www.projectfedena.org/
#
#Licensed under the Apache License, Version 2.0 (the "License");
#you may not use this file except in compliance with the License.
#You may obtain a copy of the License at
#
#  http://www.apache.org/licenses/LICENSE-2.0
#
#Unless required by applicable law or agreed to in writing,
#software distributed under the License is distributed on an
#"AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
#KIND, either express or implied.  See the License for the
#specific language governing permissions and limitations
#under the License. -%>


<div id="wrapper">
  <div id="top_logo">
    <%= image_tag current_school_detail.logo.url %>
  </div>
  <% if @network_state.config_value.to_s == "Online" %>
    <div id="login_area_bg">

      <% form_for :reset_password do |form| %>

        <div id="login_area">
          <label for="email"><%= t('enter_email') %></label>
          <div id="email_textbox_bg">
            <%= form.text_field :username %>
          </div>

          <div id="submit_area">
            <%= submit_tag "#{t('submit')}", :class => "submit" %>
          </div>

          <% if !flash.empty? %>
            <%= "<div id=\"notice\">" + flash[:notice] + "</div>" %>
          <% end %>

        </div>
      </div>
    <% end %>
  <% else %>
    <div id="login_area_bg">
      <div id="login_area">
        <label class="offline"><%= t('contact_admin') %>.</label>
      </div>
    </div>
  <% end %>
</div>

<div id="help_forgot_pw">
  <div id="footer_links">
    &nbsp;
  </div>
</div>

<div id="footer">
  <div id="footer_logo">
    <!--div id="powered_by">
      <%= t('powered_by') %> <a href=<%= "#{FEDENA_SETTINGS[:company_url]}" %> target="_blank"><%= FEDENA_SETTINGS[:company_name] %></a>
    </div-->
  </div>
</div>

