
.link-box {
    margin:10px 40px;
    width:270px;
    float:left;
    height:80px;
}
.link-heading a {
    font-weight:bold;
    color:#0f144e;
}
.link-descr {
    margin-top:5px;
    color:#666;
    text-align:justify;
    font-size:14px;
}
#box{
    width:700px;
    margin:0px auto;
}

#inner-tab-menu ul li {
    padding: 0 6px;

}

.submit_button {

    padding: 7px 10px;
    color: #fff;
    background: #27292B;
    -moz-border-radius:10px;
    -webkit-border-radius:10px;
    font-weight: bold;
    font-size: 14px;
    border:none;
    font-family: arial;
    cursor:pointer;
}
.submit_button:hover{
    background:  #373B3F;
}
#inner-tab-menu ul li {
    padding:0 6px;
}

#inner-tab-menu ul li {
    background-color:#0f144e;
    color:#FFFFFF;
    float:left;
    font-size:0.9em;
    height:1.5em;
    list-style-type:none;
    margin:0 0 0 10px;
    padding:0;
    text-align:center;
    width:168px;
}
span{
    float:right;
}
