
.link-box {margin:10px 40px;width:270px;float:right; height:80px;}
.link-heading a {font-weight:bold;color:#0f144e;}
.link-descr {margin-top:5px;color:#666;text-align:justify;}
.box{
    width:750px;
    margin:0px auto;
}
