
#admission1_form {padding-left:50px;}
#autofill_area .label_field_pair {padding-right:65px;}

#admission1_form_vertical_block_left {padding-top:0px;}
/* .label_field_pair {width:285px;float:left;}*/
.label_field_pair label {font-weight:bold;display:block;color:#444;margin-bottom:10px;}
.label_field_pair label.label_for_gender {font-weight:normal;display:inline;}

#admission1_form_vertical_block_right {padding-left:0px;}
/*.label_field_pair {width:600px; height:40px;}
.label_field_pair label {
    color:#444444;
    display:block;
    float:left;
    font-size:14px;
    font-weight:600;
    margin:0 0 10px;
    padding-top:10px;
    width:200px;
}*/
.label_field_pair label.label_for_gender {font-weight:normal;display:inline;}

#name_field_block {clear:both;padding-bottom:20px;}
#name_field_block .text_input_bg {float:left;width:190px;height:28px;background:#fff url(../../images/master_student/admission1/text_input_190px.png) no-repeat;margin-right:5px;margin-bottom:10px;}
#name_field_block label {font-weight:bold;display:block;margin-bottom:10px;}
#name_field_block input {width:170px;height:28px;background:transparent;border:0;padding-left:10px;padding-top:5px;}

/*.text_input_bg {background:none repeat scroll 0 0 transparent;
                float:left;
                height:28px;
                width:230px;
}
.label_field_pair input {-moz-border-radius:10px 10px 10px 10px;
                         background:none repeat scroll 0 0 #EEEEEE;
                         border:1px solid #C6C6C6;
                         height:17px;
                         margin:5px 0 0 10px;
                         padding:5px;
                         width:205px;
} */
.label_field_pair select {width:230px;height:28px;}
.label_field_pair .label_for_gender {margin:0;display:block;float:left;padding-top:5px;padding-right:10px;padding-left:10px;}
#master_student_gender_true, #master_student_gender_false {margin:0;padding:0;width:20px;display:inline;margin-bottom:10px;display:block;float:left;}

#create_user {width:20px;display:inline;}
#address_text_area {width:232px;height:162px;background:#fff url(../../images/admission/address_area_bg.jpg) no-repeat;margin-bottom:40px;}
#master_student_address, #parent_detail_office_address {padding-left:10px;padding-top:5px;width:222px;height:162px;border:none;background:transparent;color:#0f144e;font-weight:bold;}
#create_user_option {display:inline;margin:0px;padding:0px;}

.submit_button {margin-top:30px;margin-left:270px;}
.submit_button3 {
    margin-top:30px;
    margin-left:200px;
    float:left;
    -moz-border-radius:12px;
    -webkit-border-radius:12px;
    background:none repeat scroll 0 0 #27292B;
    color:#FFFFFF;
    font-family:arial;
    font-size:14px;
    font-weight:bold;
    padding:7px 10px;
    border:none;
    cursor:pointer;
}
.submit_button3:hover{
   background:  #373B3F;
}
.text_display {background : #eee;
               border : 1px solid #c6c6c6;
               margin : 5px 0 0 210px;
               width : 205px;
               height:17px;
               -moz-border-radius:10px;
               -webkit-border-radius:10px;
               padding: 5px;
               text-align: left;
}
.label-underline{
    background:  #eeeeee;
    height: 1px;
    border: none;
}
.sub-heading{
    background:#9E0F15;
    height: 1px;
    border: none;
    margin-bottom: 15px;
}
.span-sub-heading{
    font-weight: bold;
    padding-top:10px;
}
ul#parents-list {
    height : auto; width : 580px;
    margin : auto;
    padding : 0;
}
ul#parents-list li.listodd {
    background: none repeat scroll 0 0 #E4EBFE;
    border: 1px solid #BECFFB;
    height: auto;
    list-style-type: none;
    margin-left: 30px;
    padding: 0.5em 0 0.5em 50px;
    width: 450px;
}
ul#parents-list li.listeven {
    background :#EEF2FD;
    border:1px solid #BECFFB;
    height : 1.5em; width : 450px;
    list-style-type : none;
    padding : 0.5em 0 0 50px;
    margin-left:30px;
}
#add-more-parent{
    margin-top:28px;
    margin-left:100px;
    float:left;
    -moz-border-radius:12px;
    -webkit-border-radius:12px;
    background:none repeat scroll 0 0 #27292B;
    color:#FFFFFF;
    font-family:arial;
    font-size:14px;
    font-weight:bold;
    padding:7px 10px;
}
#add-more-parent a{
    color:#fff;
    text-decoration: none;
}
#skip{
    margin-top:28px;
    margin-left:50px;
    float:left;
    -moz-border-radius:12px;
    -webkit-border-radius:12px;
    background:none repeat scroll 0 0 #27292B;
    color:#FFFFFF;
    font-family:arial;
    font-size:14px;
    font-weight:bold;
    padding:7px 10px;
}
#skip a{
    color:#fff;
    text-decoration: none;
}
#skip:hover,#add-more-parent:hover{
   background:  #373B3F;
}
.necessary-field {
    color : #f00;
    font-size : 1.1em;
}
