#page-yield {
    margin-top : 20px;
    overflow: hidden;
}
#profile_picture_display {
    float:left;
    width:125px;
    height:125px;
    margin-left:50px;
    border:8px solid #EFEFD1;
}
#profile_picture_display img {
    width:125px;
    height:125px;
    /*padding-top:25px;
    padding-left:32px;*/
}
#student_main_info {
    float:left;
    margin-left:50px;
    width:500px;
}
#student_main_info h3 {
    margin:0;
    padding:0;
    margin-top:25px;
}
#student_main_info h4 {
    margin:0;
    padding:0;
    color:#0f144e;
    margin-top:10px;
}
#student_main_info h6 {
    margin:0;
    padding:0;
    color:#0f144e;
    margin-top:5px;
}
#student_main_info h5 {
    background-color:#eee;
}
#edit_student_profile {
    clear:both;
    margin:0 auto;
    padding-left:170px;
}
#new_profile_info_top {
    margin:30px auto;
    width:697px;
}
/*
.new_profile_info_area1 {
    height:87px;
    width:682px;
   
}*/
.profile_info_label_top {
    padding-top:15px;
    padding-bottom:5px;
    height:25px;
    width:150px;
    text-align:right;
    padding-right:20px;
    float:left;
    font-weight:bold;
    color:#548ab2;
    background: #eff3fe;
    border-top:1px solid #bdcfff;
    margin-right:5px;
}
.profile_info_text_top a{
    color:#000;
}
.profile_info_text_top a:hover{
    color:#BB0000;
}
.profile_info_label_top2 {
    padding-top:15px;
    padding-bottom:5px;
    height:25px;
    width:150px;
    text-align:right;
    padding-right:20px;
    float:left;
    font-weight:bold;
    color:#548ab2;
    background: #dae6ff;
    border-top:1px solid #bdcfff;
    margin-right:5px;
}
.profile_info_label1 {
    padding-top:15px;
    height:25px;
    width:120px;
    text-align:right;
    padding-right:20px;
    float:left;
    font-weight:bold;
    color:#548ab2;
}
.profile_info_text_top {
    padding-top:15px;
    padding-bottom:5px;
    padding-left:20px;
    height:25px;
    width:500px;
    float:left;
    font-weight:bold;
    color:#000;
    background: #eff3fe;
    border-top:1px solid #bdcfff;
    }
.profile_info_text_top2 {
    padding-top:15px;
    padding-bottom:5px;
    padding-left:20px;
    height:25px;
    width:500px;
    float:left;
    font-weight:bold;
    color:#000;
    background: #dae6ff;
    border-top:1px solid #bdcfff;
    }
.profile_info_text {
    padding-top:15px;
    padding-left:20px;
    height:25px;
    width:500px;
    float:left;
    font-weight:bold;
    color:#000;
}
.profile_info_text span {
    font-weight : normal;
    font-size : 0.9em;
}
.profile_info_text a {
    color : #95060C;
}
.user_button {
    margin-top:40px;
    margin-left:270px;
}
.profile_top_banner{
    position:absolute;
    float:right;
    padding-left:528px;
    margin-top:-10px;
    
}
#student_profile_heading{
    width:800px;
    margin:0px auto;
}
a.user_button{
    -moz-border-radius:10px;
    -webkit-border-radius:10px;
    background:#27292B none repeat scroll 0 0;
    color:#FFFFFF;
    font-family:arial;
    font-size:14px;
    font-weight:bold;
    margin:0px auto;
    margin-top:30px;
    padding:7px 12px;
    border:none;
    margin-left:20px;
    text-align:center;
    cursor:pointer;
    text-decoration: none;
    float:left;
}
.buttons{
    width:304px;
    margin:0px auto;
}

a.user_button:hover{
   background:  #373B3F;
}


.user_button  {
    padding: 7px 10px;
    color: #fff;
    background: #27292B;
    -moz-border-radius:10px;
    -webkit-border-radius:10px;
    font-weight: bold;
    font-size: 14px;
    border:none;
    font-family: arial;
    cursor:pointer;
    margin: 0 auto;
    text-decoration: none;
}
.user_button:hover{
    background:  #373B3F;
}
.bigger{
    height: 45px;
}
.odd{
    height:auto;
    background: #eff3fe;
    
    margin-right:5px;
}
.odd td{
    
    font-weight:bold;
    padding:10px 10px 10px 10px;
   border-top:1px solid #bdcfff;
    border-bottom:1px solid #bdcfff;
}
.right{
    width: 450px;
    color:#000000;
    text-align: left;
}
.left{
    width: 250px;
    color:#548ab2;
    text-align: right;
}
.even{
    
    height:auto;
    
    background: #dae6ff;
    margin-right:5px;
}
.even td{
    
    font-weight:bold;
    border-top:1px solid #bdcfff;
    border-bottom:1px solid #bdcfff;
    padding:10px 10px 10px 10px;
}
#nav ul {
    float:right;
    margin:0 10px 0 0;
    padding:0;
}
#nav ul.scriptaculously{
    text-align:left;
    width:100px;
    font-size:.8em;
    background:#0f144e;
    -webkit-border-bottom-left-radius:5px;
    -webkit-border-bottom-right-radius:5px;
    -khtml-border-radius-bottomleft:5px;
    -khtml-border-radius-bottomright:5px;
    -moz-border-radius-bottomleft:5px;
    -moz-border-radius-bottomright:5px;
    -webkit-border-radius:5px;
    margin:0;
    padding:0;
    position:absolute;
    left:0px;
    top:28px;
    opacity:.97;
    filter:alpha(opacity=97);
}
html>body #nav ul.scriptaculously{/*ie shit*/
                                  position:absolute;
                                  top:17px;
}
#nav ul.scriptaculously a:hover{
    position:relative;
    color:#ffffff;
    background:none;
    text-decoration:underline;
}
#nav ul.scriptaculously a{
    position:relative;
    z-index:999;
    font-weight:normal;
    margin:0;
    padding:5px 0 5px 0px;
    background:none;
    color:white;
    display:block;
    -webkit-border-top-left-radius:0;
    -webkit-border-top-right-radius:0;
    -khtml-border-radius-topleft:0;
    -khtml-border-radius-topright:0;
    -moz-border-radius-topleft:0;
    -moz-border-radius-topright:0;
}
#nav li a:hover{
    text-decoration:underline;
}
#nav li a{
    font-weight:normal;
    text-decoration:none;
    color:white;
    width:100px;
    height:1.5em;
    display:block;
    /*padding:10px 10px 0 10px;*/
    background:#0f144e;
    /*	-webkit-border-top-left-radius:5px;
	-webkit-border-top-right-radius:5px;
	-khtml-border-radius-topleft:5px;
	-khtml-border-radius-topright:5px;
	-moz-border-radius-topleft:5px;
	-moz-border-radius-topright:5px; */
}
#nav{
    position:relative;
    width:980px;
    height:1.5em;
    text-align:center;
    list-style:none;
    margin:0 0 0 0;
    padding:0;
    list-style:none;
    font-size:0.9em;
}
#nav ul li{
    position:relative;
    /*display:inline;
	margin:0;
	padding:0;*/
    background-color : #0f144e;
    color : #fff;
    float : left;
    font-size : 0.9em;
    height : 1.5em;
    list-style-type : none;
    margin : 0 0 0 10px;
    padding : 0;
    text-align : center;
    width : 100px;
}

#nav ul li ul li{
    background-color:#0f144e;
    font-size:1.3em;
    width:60px;
    height:1.5em;
    padding-bottom:5px;
    text-align:center;
    margin:0;

}
.profile{
   -moz-transform: rotate(37deg);  /* FF3.5+ */
    -o-transform: rotate(37deg);  /* Opera 10.5 */
    -webkit-transform: rotate(37deg);  /* Saf3.1+, Chrome */
    -ms-transform: rotate(37deg);  /* IE9 */
    transform: rotate(37deg);
    background: transparent/9;
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#00FFFFFF,endColorstr=#00FFFFFF)"; /* IE8 $ IE9*/
    zoom: 1;
    color: #FFFFFF;
    font-size: 21px;
    position: absolute;
    font-weight: 200;
    /*padding-left: 95px;
    padding-top: 11px;*/
    width: 128px;
    padding-top: 27px;
    text-align: center;
    height: 250px
}
