
#user_edit_form {
    height:30px;
    margin-bottom:20px;
    padding:0;
    background:#fff url(../../../images/create_users/underline_image.jpg) bottom right no-repeat;
}
#user_edit_form img {
    width:22px;
    height:27px;
    float:right;
    margin:0;
    border:0;
    padding:0px 0 0 0;
}
#user_edit_form h4 {
    margin:0;
    padding:0px 40px 0 0;
    color:#0f144e;
}
#edit_user_form {
    width:600px;
    margin:0px auto;
}
#edit_user_form_vertical_block_left {
    border-left: 2px solid #ccc;
    width:290px;
    float:right;
    margin-top:20px;
}
.edit_label_field {
    width:285px;
    float:right;
}
.edit_label_field label {
    font-weight:bold;
    display:block;
    color:#444;
    margin-bottom:10px;
}


.user_submit_button {
    -moz-border-radius:10px;
    -webkit-border-radius:10px;
    background:#27292B;
    color:#FFFFFF;
    font-family:arial;
    font-size:14px;
    font-weight:bold;
    margin:30px auto;
    margin-right: 150px;
    padding:7px 12px;
    border:none;
    text-align:center;
    text-decoration: none;
    width:auto;
    cursor:pointer;
}
.user_submit_button:hover{
    background: #373B3F;
}
.necessary-field {
    color : #f00;
    font-size : 1.1em;
}
#necessary-field-notification {
    font-weight : bold;
    padding : 10px 0 30px 0;
}

#inner-tab-menu ul li{
    width:130px;
}
